#===================================================================================================
# IDE, Editors & OS
#===================================================================================================
**.sublime-workspace
**/.editorconfig
.DS_Store

#===================================================================================================
# 1-RTL: Macros, IPs, Libs
#===================================================================================================
**/1-rtl/macro/bhvr/ram/
**/1-rtl/macro/bhvr/rom/
**/1-rtl/libs/
**/1-rtl/file_list/0.macro.bhvr.f
**/1-rtl/file_list/0.ip.svlg.f
**/1-rtl/file_list/0.ip.vlog.f

# FORK's SOC Submodule specific
**/1-rtl/soc/**/.git
**/1-rtl/soc/dip_pulp_axi/scripts
**/1-rtl/soc/dip_pulp_apb/scripts

# FORK's  CI/CD & Configs in RTL
/1-rtl/soc/dip_pulp_axi/.ci
/1-rtl/soc/dip_pulp_axi/.github/workflows
/1-rtl/soc/dip_pulp_axi/.gitlab-ci.d
1-rtl/soc/dip_pulp_axi/.gitlab-ci.yml
1-rtl/soc/dip_pulp_axi/Makefile


#===================================================================================================
# 2-SIM: Simulation Projects
#===================================================================================================
# 1. Ignore contents of 2-sim, but NOT the folder itself
/2-sim/*
# 2. Allow Git to enter sim_soc
!/2-sim/sim_soc/
# 3. Ignore contents of sim_soc
/2-sim/sim_soc/*
# 4. Finally, keep the firmware folder
!/2-sim/sim_soc/firmware/

#===================================================================================================
# ignore script
#===================================================================================================
**/3-script/

#===================================================================================================
# ignore synthesis workspace
#===================================================================================================
**/4-synthesis/

#===================================================================================================
# ignore template
#===================================================================================================
**/B-template/**

#===================================================================================================
# Specify filepatterns you want git to ignore.  Misc / TODO
#===================================================================================================
**/5-todo/note.todo

#===================================================================================================
# Global Output Artifacts (Simulation & Synthesis)
#===================================================================================================
# Simulation Logs & DBs
**/64/
**/AN.DB/
**/csrc/
**/simv.daidir/
**/work.verdi.lib++/
**/extracted.src_alias/
**/aliasextractLog/
**/nWaveLog/
**/verdiLog/
**/vericomLog/
**/vhdlcomLog/
**/ucli.key
**/novas.conf
**/novas.rc
**/novas_dump.log
**/PER_FLL.log
**/CLUSTER_FLL.log
**/vcs.log
**/v.log
**/vc_hdrs.h
*.do

# Firmware / Compilation Objects
*.o
*.hex
*.elf
*.bin
*.map
